<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%-22thread] %highlight(%-5level) %cyan(%logger{15}) - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="bot.tasks.UpdateUsers" level="INFO" />
    <logger name="bot.chaster.Client" level="INFO" />
    <root level="DEBUG">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>